.overlay {  
    height: 100%;
    width: 0;
    position: fixed; 
    top: 0;
    z-index: 10;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.8); 
    overflow-x: hidden; 
    transition: 0.5s; 
}

#mobile-menu,
#mobile-nav {
    z-index: 10;
}

.overlay-content  {
    position: relative;
    top: 20%; 
    width: 100%; 
    text-align: left; 
    margin-top: 30px; 
    z-index: 10;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 2.2rem;
    color: #FFF;
    display: block; 
    transition: 0.3s; 
}

.overlay .overlay-content button {
    font-size: 2.2rem;
    text-align: center;
}

.overlay a:hover, .overlay a:focus {
    color: #4dbb04;
}

.overlay .overlay-content .closebtn {
    position: absolute;
    right: 28px;
    top: 25%;
    font-size: 60px;
}

a.sub-class {
    font-size: 2rem;
    text-indent: 50px;
}


/* ===== MOBILE HAMBURGER ICON ============ */

.mobile-icon, .menu-icon {
    position: relative;
    transition: all .4s;
}

.toggle-button {
    position: fixed;
    width: 44px;
    height: 40px;
    top: 22px;
    right: 25px;
/*    transform: translate(-22px, -20px);*/
    padding: 4px;
    transition: .25s;
    z-index: 15;
}

.toggle-button:hover {
    cursor: pointer;
}

.mobile-icon:hover .menu-bar {      
    background-color: #4dbb04;
}

.toggle-button .menu-bar {
    position: absolute;
    border-radius: 2px;
    height: 4px;
    width: 42px;
    background-color: #FFF;
    transition: .5s;
}

.toggle-button .menu-bar-top {
    border-bottom: none;
    top: 0;
}

.toggle-button .menu-bar-middle {
    margin-top: 7px;
    margin-bottom: 7px;
    top: 4px;
}

.toggle-button .menu-bar-bottom {
    border-top: none;
    top: 22px;
}

.button-open .menu-bar-top {
    transform: rotate(45deg) translate(8px, 8px);
    transition: .5s;
}

.button-open .menu-bar-middle {
    transform: translate(200%);
    transition: .1s ease-in;
    opacity: 0;
}

.button-open .menu-bar-bottom {
    transform: rotate(-45deg) translate(8px, -7px);
    transition: .5s;
}

.logo-mobile {
    position: fixed;
    left: 15px;
    z-index: 12;
}

@media screen and (min-width: 530px) {
    .overlay .overlay-content .closebtn {
        top: 30%;
    }
}

@media screen and (min-width: 769px) {
    button {
        font-size: 2.2rem;
    }
    
    .overlay .overlay-content .closebtn {
        top: 50%;
    }
}
        
@media screen and (min-width: 980px) {
    .mobile-icon, .logo-mobile {
        opacity: 0;
        pointer-events: none;
    }
    
    .overlay .overlay-content .closebtn {
        top: 80px;
        right: 45px;
    }
}

@media screen and (min-width: 1100px) {
    .overlay .overlay-content .closebtn {
        top: 125px;
    }
}

@media screen and (min-width: 1350px) {
    .overlay .overlay-content .closebtn {
        top: 175px;
    }
}

@media screen and (min-width: 1650px) {
    .overlay .overlay-content .closebtn {
        top: 250px;
        right: 70px;
    }
}

@media screen and (min-width: 1850px) {
    .overlay .overlay-content .closebtn {
        top: 350px;
    }
}